<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div align="center">
            <h1>天帝泡泡堂</h1>
            <h5>天帝泡泡堂是一款多人对战的休闲益智类小游戏，目前已经发布微信小游戏版和网页版，两版可一起进行对战。</h5>
            <h5>目前网页版暂不支持分享及排行榜的功能。网页版链接在最下方，点击即可进入。</h5>
            <img height="350" width="550" src="https://www.x-lab.ac/pic/tiandiBnb.png">
            
            <h5>Author：谢天帝，刘俊鹏，周爽</h5>
            <a href="https://www.x-lab.ac/web-desktop/index.html"> 点击进入网页版链接</a>
            </br>
            <img src="https://www.x-lab.ac/pic/cmb_logo.gif">
    </div>
</body>
</html>
